.loginBtn{
  margin: 10px;
  padding: 10px;
  border-color: white;
  background-color: black;
  border-radius: 5px;
}
.loginBtn:hover{
  background-color: white;
  color: black;
  border-color: black;
}

.loginBtnNone{
  display: none;
}
.userData{
  padding-top: 300px;
  color: white;
}
